@font-face {
  font-family: "Stellar";
  src: url('fonts/Stellar-Medium.otf') format('opentype');
}

@font-face {
  font-family: "FiraSans";
  src: url('fonts/FiraSans-Regular.ttf') format('truetype');
}