.accordion {
  width: 620px;
  // height: 505px;
  border: 1px solid black;
}

.accordion__header {
  font-size: 18px;
  font-family: "Stellar";
  line-height: 20px;
  padding: 15px 0;
  border: 1px solid black;
}

.accordion__content {
  width: inherit;
  height: 0;
  font-size: 18px;
  font-family: "FiraSans";
  line-height: 20px;
  padding: 0;
  transition: all 0.45s ease-in-out;
  overflow: hidden;
  // border: 1px solid black;
}

.accordion__content_visible {
  // max-height: 200px;
  padding: 15px 0;
}

.accordion__text {
  margin: 0;
  padding: 15px 0;
  padding-left: 40px;
}