.accordion {
  width: 620px;
  // height: 505px;
  border: 1px solid transparent;
  border-radius: 5px;
  border-left: 5px solid rgb(23, 156, 148);
  box-shadow: 0px 0px 8.97px 4.03px rgba(31, 44, 96, 0.13);
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-family: "Stellar";
  // line-height: 20px;
  padding: 15px 0;
  // border-top: 1px solid rgba(28, 31, 55, 0.302);
  border-bottom: 1px solid rgba(28, 31, 55, 0.302);
  cursor: pointer;
  &:hover {
    background: rgb(236, 236, 236);
  }
  &:first-of-type {
    border-top: none;
  }
  &:last-of-type {
    border-top: none;
  }
}

.accordion__content {
  width: inherit;
  height: 0;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.accordion__body {
  // width: inherit;
  // height: 0;
  font-size: 18px;
  font-family: "FiraSans";
  // line-height: 20px;
  // padding: 0;
  padding: 15px 0;
  // transition: all 0.4s ease-in-out;
  overflow: hidden;
  // border: 1px solid black;
  border-top: 1px solid rgba(28, 31, 55, 0.302);
}

.accordion__footer {
  display: flex;
  font-size: 13px;
  font-family: "Stellar";
  // line-height: 15px;
  background: rgb(248, 248, 248);
  border-bottom: 1px solid rgba(28, 31, 55, 0.302);
}

.accordion__content_visible {
  // max-height: 200px;
  // padding: 15px 0;
  // border-top: 1px solid rgba(28, 31, 55, 0.302);
}

.accordion__text {
  margin: 0;
  padding: 15px 0;
  padding-left: 40px;
}

.accordion__chevron {
  // margin: 15px 0 ;
  margin: 20px 0 10px;
  margin-right: 40px;
  // transform: translateY(5px);
  transition: all 0.4s;
}

.accordion__thumbs {
  margin: 17px 0 13px;
  margin-left: 15px;
  &:first-of-type {
    margin-left: 40px;
  }
}