.accordion {
  width: 620px;
  height: 505px;
  border: 1px solid black;
  padding-left: 37px;
}

.accordion__header {
  font-size: 18px;
  font-family: "Stellar";
  line-height: 20px;
}

.accordion__content {
  font-size: 18px;
  font-family: "FiraSans";
  line-height: 20px;
}