.menu {
  width: 175px;
  height: 205px;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0px 0px 8.97px 4.03px rgba(31, 44, 96, 0.13);
  font-family: "Stellar";
  font-size: 18px;
  line-height: 35px;
  padding: 15px 0;

  counter-reset: c-counter;  
}

.menu__item {
  display: flex;
  position: relative;
  flex-direction: row;
  line-height: 23px;
  padding: 10px 0;
  text-indent: -2px;
  cursor: pointer;
  padding-left: 50px;
  &:before {
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 50px;
    height: inherit;
    left: -1px;
    content: counter(c-counter)'.'; 
    counter-increment: c-counter;
    text-align: center;
    padding: 0 auto;
  }
  &:hover {
    color: rgb(23, 156, 148);
  }
}

.menu__item_active {
  color: rgb(23, 156, 148);
  padding-left: 44px;
  &:after {
    content: '';
    position: absolute;
    width: 4px;
    height: 23px;
    left: -1px;
    top: 11px;
    background: rgb(23, 156, 148);
  }
}