@font-face {
  font-family: "Stellar";
  src: url("fonts/Stellar-Medium.otf") format("opentype"); }

@font-face {
  font-family: "FiraSans";
  src: url("fonts/FiraSans-Regular.ttf") format("truetype"); }

.accordion {
  width: 630px;
  height: 100%;
  border: 1px solid rgba(31, 44, 96, 0.13);
  border-radius: 5px;
  box-shadow: 0px 0px 8.97px 4.03px rgba(31, 44, 96, 0.13); }

.accordion__header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-family: "Stellar";
  padding: 4px 0 5px;
  border-top: 1px solid rgba(28, 31, 55, 0.18);
  cursor: pointer; }
  .accordion__header:hover {
    background: #ececec; }
  .accordion__header:first-of-type {
    border-top: none; }

.accordion__content {
  height: 0;
  transition: all 0.4s ease-in-out, border 0s;
  overflow: hidden;
  border-left: 5px solid #179c94 !important; }
  .accordion__content .accordion__text {
    padding-left: 35px; }

.accordion__body {
  font-size: 18px;
  font-family: "FiraSans";
  line-height: 29px;
  padding: 10px 0;
  transition: border 0.4s;
  overflow: hidden;
  border-top: 1px solid rgba(28, 31, 55, 0.12); }

.accordion__footer {
  display: flex;
  font-size: 13px;
  font-family: "Stellar";
  background: #f8f8f8;
  border-bottom: 1px solid rgba(28, 31, 55, 0.12); }
  .accordion__footer .accordion__text {
    color: rgba(24, 12, 69, 0.702); }

.accordion__active {
  border-left: 5px solid #179c94; }
  .accordion__active.accordion__first-element {
    border-top-left-radius: 5px; }
  .accordion__active.accordion__last-element {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
  .accordion__active .accordion__text {
    padding-left: 35px; }
  .accordion__active.accordion__header {
    border-bottom: none; }
  .accordion__active > .accordion__body {
    border-top: 2px solid rgba(28, 31, 55, 0.13); }

.accordion__text {
  color: #180c45;
  margin: 0;
  padding: 15px 0;
  padding-left: 40px; }

.accordion__chevron {
  margin: 18px 30px 12px 0;
  font-size: 18px !important;
  transition: all 0.4s; }

.accordion__thumbs {
  margin: 12px 0 10px;
  margin-left: 15px;
  cursor: pointer;
  color: rgba(24, 12, 69, 0.702); }
  .accordion__thumbs:first-of-type {
    margin-left: 40px; }

body {
  margin: 0;
  padding: 0; }

.container {
  margin: 227px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.container__item {
  margin: 0 13px;
  flex-shrink: 1; }

.menu {
  width: 175px;
  height: 205px;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0px 0px 8.97px 4.03px rgba(31, 44, 96, 0.13);
  font-family: "Stellar";
  font-size: 18px;
  line-height: 35px;
  padding: 10px 0;
  counter-reset: c-counter; }

.menu__item {
  display: flex;
  position: relative;
  color: #1c1f37;
  flex-direction: row;
  line-height: 23px;
  padding: 10px 0;
  text-indent: -2px;
  cursor: pointer;
  padding-left: 50px; }
  .menu__item:before {
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 50px;
    height: inherit;
    left: -1px;
    content: counter(c-counter) ".";
    counter-increment: c-counter;
    text-align: center;
    padding: 0 auto; }
  .menu__item:hover {
    color: #179c94; }

.menu__item_active {
  color: #179c94;
  padding-left: 44px; }
  .menu__item_active:after {
    content: '';
    position: absolute;
    width: 4px;
    height: 23px;
    left: -1px;
    top: 11px;
    background: #179c94; }

.text {
  font-size: 26px;
  font-family: "Stellar"; }

/*# sourceMappingURL=bundle.css.map */
