.text {
  font-size: 26px;
  font-family: "Stellar";
}

.accordion {
  
}

.accordion__header {
  font-size: 26px;
  font-family: "FiraSans";
  line-height: 2.667;
}

.accordion__content {
  font-size: 18.561px;
  font-family: "FiraSans";
  line-height: 2.667;
}